
@{ 

}

<!DOCTYPE html>
<html>
<head>
    <title>LAB 11: Results Page</title>
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>

<body>

    <h1>TIME PEOPLE OF THE YEAR</h1>
    <p>
        Results
    </p>


    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Honor</th>
                <th>Name</th>
                <th>Country</th>
                <th>Birth Year</th>
                <th>Death Year</th>
                <th>Title</th>
                <th>Category</th>
                <th>Context</th>
            </tr>
        </thead>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Year</td>
                <td>@person.Honor</td>
                <td>@person.Name</td>
                <td>@person.Country</td>
                <td>@person.BirthYear</td>
                <td>@person.DeathYear</td>
                <td>@person.Title</td>
                <td>@person.Category</td>
                <td>@person.Context</td>
            </tr>
        }
    </table>
</body>
</html>